// _variables.scss

// Theme Colors
$light-bg: #ffffff;
$dark-bg: #121212;
$light-text: #000000;
$dark-text: #ffffff;
$primary-color: #575758; // Color for the switch when toggled

// Switch Styles
$switch-width: 40px;
$switch-height: 24px;
$switch-circle-size: 16px;
$switch-border-radius: 50px;
$switch-transition: 0.4s;
