.auth_container {
  width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;
  display: grid;
  gap: 2rem;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
    align-items: center;

    width: calc(100% - 4rem);
    max-width: 1200px;
  }

  > h1 {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    @media (min-width: 992px) {
      text-align: left;
    }
  }

  &_form {
 /*    display: grid;
    gap: 1.5rem;
 */
    h1 {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    h5 {
      font-size: 1rem;
      color: #666;
      margin-bottom: 1rem;
    }

    &_username,
    &_password {
      display: grid;
      gap: 0.5rem;
      margin: 2rem 0;
      label {
        font-weight: 600;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ced4da;
        border-radius: 0.5rem;
        transition: all 0.3s ease;

        &:focus {
          outline: none;
          border-color: #6a1b9a;
          box-shadow: 0 0 0 2px rgba(106, 27, 154, 0.2);
        }
      }
    }
  }
  &_forgot_password {
    text-align: right;
    font-size: 0.9rem;
    color: #7a7c7e;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &_button {
    width: 100%;
    padding: 1rem;
    background-color: #6a1b9a;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #5a148a;
    }

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }

  .error_message {
    color: #dc3545;
    font-weight: 600;
    padding: 0.5rem;
    background-color: #f8d7da;
    border-radius: 0.25rem;
    text-align: center;
  }
}

.auth_container > .right_buttons {
  display: flex;
  justify-content: center;
  @media (min-width: 992px) {
    justify-content: flex-end;
  }
}
